* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
body {
  background-color: #eee;
}
.general-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.gallery {
  width: 90%;
  margin: 20px auto;
  background-color: wheat;
  text-align: center;
}
.feedback-form,
.about-us {
  width: 90%;
  padding-bottom: 20px;
}
.section-container {
  padding: 20px;
  margin-top: 25px;
}
.feedback-form-container {
  padding: 20px;
  background-color: wheat;
}
h1 {
  display: inline-block;
  padding-bottom: 20px;
  font-size: 6vw;
}
.img-collection {
  column-count: 2;
  column-gap: 10px;
}
img {
  width: 100%;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.img-container-outer {
  margin-bottom: 10px;
}

.about-us-img-container {
  width: 40%;
}
.about-us-desc-container {
  margin-left: 10px;
}
.about-us-content-container {
  display: flex;
  justify-content: flex-start;
}
.about-us-container {
  padding: 20px;
  background-color: wheat;
}
footer {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.footer-desc {
  padding: 1%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* if the screen has width from 768 to 991px*/

  .img-collection {
    column-count: 3;
  }
}

@media only screen and (min-width: 992px) {
  /* if the screen has width <= 767px*/

  .img-collection {
    column-count: 4;
  }
  .feedback-form {
    width: 45%;
  }
  .about-us {
    width: 45%;
  }
}
